
<div class="page-404">
  <h1>Page Not Found</h1>
</div>


{% schema %}
{
  "name": "404 Page",
  "settings": [],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}
